<head>
    <h1> CRUD para Tarefas</h1>
</head>
<body>
        <%= button_to "Cadastrar Tarefa", tarefas_path, :id => "open-contacts-dialog-btn",
        :class => "inbox-sf-add-btn tip", :method => :get %>
             <br>
        <%= button_to "Cadastrar comentarios", comentarios_path, :id => "open-contacts-dialog-btn",
        :class => "inbox-sf-add-btn tip", :method => :get %>
        <br>
        <br>

  
</body>
